.place__url-heading {
    letter-spacing: 0.2em;
    color: #AAAAAA;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .place__url-heading {
        line-height: 100%;
    }
}